.header__body {
    .header__navigation {
        .nav {
            display: flex;
        }
    }
}

.header {
    background-color: #fff;
    height: 68px;

    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

    .header__body {
        width: 1160px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        .header__logo {
            padding: 14px 0 15px 40px;

            .header__logo-img {
                width: 98px;
                height: 40px;
            }
        }

        .header__navigation {
            padding: 20px 0 22px;
            margin-right: 20px;
            display: flex;

            .header__nav {
                font-family: $mainFont serif;
                font-size: 13.5px;
                font-weight: normal;
                margin-top: 6px;

                .nav__link {
                    color: #1F2041;
                    opacity: 0.5;
                    position: relative;
                    padding-left: 23px;
                    transition: 0.3s ease;

                    cursor: pointer;

                    &:hover {
                        color: #1F2041;
                        opacity: 0.75;
                        font-weight: bold;
                    }
                }

                .nav_active {
                    color: #1F2041;
                    opacity: 0.75;
                    font-weight: bold;
                }


            }

            .header__line {
                width: 1px;
                height: 27px;
                background-color: #e9e9ec;
                margin: 4px 0px 0 27px;
            }

            .header__user-name {
                font-family: $mainFont serif;
                font-size: 13.5px;
                font-weight: normal;
                color: #1F2041;
                opacity: 0.5;
                position: relative;
                padding-left: 28px;
                transition: 0.3s ease;
                margin-top: 7px;
                cursor: pointer;
            }
        }
    }
}