.dropdown__placeholder {
    padding: 10px 13px 13px;
    border: 1px solid #8F8FA0;
    border-radius: 4px;
    font-family: $mainFont sans-serif;
    font-size: 13.5px;
    color: $mainColor;
    cursor: pointer;

    .dropdown__arrow {
        cursor: pointer;
        float: right;
        margin-top: 6px;
    }
}

.dropdown__selected-box {
    display: inline-block;
    position: relative;
    width: 100%;

    .dropdown__placeholder {
        padding: 10px 13px 13px;
        border: 1px solid #8F8FA0;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        font-family: $mainFont sans-serif;
        font-size: 13.5px;
        color: $mainColor;
        cursor: pointer;

        .dropdown__arrow {
            cursor: pointer;
            float: right;
            margin-top: 6px;
        }
    }

    .dropdown-guests__options,
    .dropdown__options {
        border: 1px solid #8F8FA0;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        background: #fff;
        border-top: none;
        display: none;
        transition: all 1s;
        width: 100%;
        overflow: hidden;
        position: absolute;
        z-index: 2;
        padding-bottom: 6px;
    }

    .dropdown__select {
        padding: 10px 10px 9px 13px;
        display: flex;
        justify-content: space-between;
        //padding-bottom: 15px;

        .dropdown__title {
            font-size: 11px;
            letter-spacing: 0.2px;
            color: $mainColor;
            text-transform: uppercase;
            font-family: $mainFont sans-serif;
        }

        .dropdown__value {
            position: relative;
            top: -1px;
            left: 2px;
            margin: 0 5px 0px 0px;
        }

        .value__input {
            width: 20px;
            text-align: center;
            border: none;
            outline: none;
            font-size: 11px;
            letter-spacing: 0.2px;
            color: $mainColor;
            text-transform: uppercase;
            font-family: $mainFont sans-serif;
            font-weight: bold;

            &::-webkit-inner-spin-button {
                display: none;
            }
        }

        span {
            border: 1px solid #C7C7CF;
            border-radius: 50%;
            cursor: pointer;
            color: #8F8FA0;
        }

        span.value_down {
            padding: 5px 13px 5px;
            margin-right: 5px;
            position: relative;
            top: 2px;

            &::before {
                content: "";
                position: absolute;
                margin: 9px 0 0 -3px;
                width: 5px;
                height: 1px;
                background-color: #8F8FA0;
            }


        }

        span.value_up {
            padding: 5px 13px 5px;
            position: relative;
            top: 2px;
            left: 5px;

            &::before {
                content: "";
                position: absolute;
                margin: 9px 0 0 -4px;
                width: 7px;
                height: 1px;
                background-color: #8F8FA0;
            }

            &::after {
                content: '';
                position: absolute;
                margin: 6px 0 0 -1px;
                width: 1px;
                height: 7px;
                background-color: #8F8FA0;
            }
        }


        span.disabled {
            border: 1px solid #eaeaed;

            &::after,
            &::before {
                background-color: #eaeaed;
            }
        }
    }

    .dropdown__buttons {
        padding: 10px 5px 5px 13px;
        display: flex;
        justify-content: space-between;

        .button-clear_hide-show {
            float: left;
            opacity: 0;
            cursor: default;
        }

        .button-ok {
            float: right;
        }
    }
}

.dropdown__selected-box-static {
    display: inline-block;
    position: relative;
    width: 100%;

    .dropdown__placeholder_static {
        padding: 10px 13px 13px;
        border: 1px solid #8F8FA0;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        font-family: $mainFont sans-serif;
        font-size: 13.5px;
        color: $mainColor;
        cursor: pointer;

        .dropdown__arrow {
            cursor: pointer;
            float: right;
            margin-top: 6px;
        }
    }

    .dropdown__options_static,
    .dropdown-guests__options_static {
        border: 1px solid #8F8FA0;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        background: #fff;
        border-top: none;
        transition: all 1s;
        width: 100%;
        padding-bottom: 6px;
    }

    .dropdown__select_static {
        padding: 10px 10px 7px 13px;
        display: flex;
        justify-content: space-between;
        //padding-bottom: 15px;

        .dropdown__title_static {
            font-size: 11px;
            letter-spacing: 0.2px;
            color: $mainColor;
            text-transform: uppercase;
            font-family: $mainFont sans-serif;
            margin-top: 2px;
        }

        .dropdown__value {
            position: relative;
            top: -1px;
            left: 2px;
            margin: 0 5px 0px 0px;
        }

        .value__input_static {
            width: 20px;
            text-align: center;
            border: none;
            outline: none;
            font-size: 11px;
            letter-spacing: 0.2px;
            color: $mainColor;
            text-transform: uppercase;
            font-family: $mainFont sans-serif;
            font-weight: bold;

            &::-webkit-inner-spin-button {
                display: none;
            }
        }

        span {
            border: 1px solid #C7C7CF;
            border-radius: 50%;
            cursor: pointer;
            color: #8F8FA0;
        }

        span.value_down_static {
            padding: 4px 10px 5px;
            margin-right: 5px;
            position: relative;
            top: 2px;
        }

        span.value_up_static {
            padding: 4px 8px 5px;
            position: relative;
            top: 2px;
            left: 5px;
        }


        span.disabled_static {
            border: 1px solid #eaeaed;

            &::after,
            &::before {
                background-color: #eaeaed;
            }
        }
    }

    .dropdown__buttons_static {
        padding: 20px 5px 5px 13px;
        display: flex;
        justify-content: space-between;
    }

    .button-clear {
        float: left;
        opacity: 1;
        cursor: default;
    }

    .button-clear_disabled {
        float: left;
        opacity: 0;
        cursor: default;
    }

    .button-ok {
        border: none;
        font-size: 11px;
        letter-spacing: 0.2px;
        color: #BC9CFF;
        text-transform: uppercase;
        font-family: $mainFont sans-serif;
        outline: none;
        cursor: pointer;
        float: right;
    }
}