mixin button-gradient(text, buttonWrapClass, buttonClass, buttonTextClass)
    div(class=buttonWrapClass)
        a(href="http://", class=buttonClass).button-gradient
            span(class=buttonTextClass)= text