.radio-block
    .radio.radio_man
        input(type="radio" name="male")#radio-man.radio__input
        label(for="radio-man").radio__label Мужчина
    .radio.radio_woman
        input(type="radio" name="male")#radio-woman.radio__input
        label(for="radio-woman").radio__label Женщина