@import '../../utils/vars.scss';
@import '../pug/includes/inputs/text-default/input-text__default.scss';
@import '../pug/includes/inputs/text-active/input-text__active.scss';
@import '../pug/includes/dropdowns/dropdown/dropdown.scss';
@import '../pug/includes/inputs//mask-input/input-text__mask.scss';
@import '../pug/includes/dropdowns/date-drop/input-date.scss';
@import '../pug/includes/inputs/subscribe-input/subscribe-input.scss';
@import '../pug/includes/inputs/checkbox-input/checkbox-input.scss';
@import '../pug/includes/inputs/radio-input/radio-input.scss';
@import '../pug/includes/inputs/toggle-input/toggle-input.scss';
@import '../pug/includes/inputs/like-button/like-button.scss';
@import '../pug/includes/inputs/rate-button/rate-button.scss';
@import '../pug/includes/dropdowns/filter-date-drop/filter-date-drop.scss';
@import '../pug/includes/sliders/range-slider/range-slider.scss';
@import '../pug/includes/buttons/button-white_default/button-white_default.scss';
@import '../pug/includes/buttons/button-white_active/button-white_active.scss';
@import '../pug/includes/buttons/button-gradient_default/button-gradient_default.scss';
@import '../pug/includes/buttons/buttons-gradient_active/buttons-gradient_active.scss';
@import '../pug/includes/buttons/buttons-text/buttons-text.scss';
@import '../pug/includes/buttons/pagination/pagination.scss';

.form-elements {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.form-elements__form {
    padding-bottom: 20px;
}

.form-elements__column-form {
    margin: 54px 0 0 39px;
    width: 303px;



    .dropdown-guests__box {
        margin-top: 5px;
    }

    .form__date-block {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 19px;

        .form__date-drop {
            width: 143px;
        }
    }

    .form__filter-text {
        margin-top: 20px;
    }

    .form__subscription-text {
        margin-top: 20px;
    }
}

.mask-input__block {
    margin-top: 3px;
}

.text {
    display: flex;
    justify-content: space-between;
    font-family: $mainFont sans-serif;
    text-transform: uppercase;
}

.title {
    font-size: 11px;
    letter-spacing: 0.2px;
    color: $mainColor;
    font-family: $mainFont sans-serif;
}

.form__subtitle {
    font-size: 11px;
    position: relative;
    bottom: 3px;
    text-transform: uppercase;
}

.subtitle-first {
    color: #A9A9B6;
}

.subtitle {
    font-size: 11px;
    position: relative;
    top: 0.2px;
    color: $mainColor;
    opacity: 0.75;
}

.form-elements__column-checkbox {
    margin: 54px 0 0 120px;

    .form-elements__checkbox {
        margin-bottom: 36px;
    }

    .text {
        margin-bottom: 15px;
    }

    .form-elements__radio {
        margin-bottom: 40px;
    }

    .form-elements__toggle {
        margin-bottom: 45px;
    }

    .form-elements__like {
        margin-bottom: 40px;
    }

    .like__text {
        margin-bottom: 14px;
    }

    .like__buttons-block {
        display: flex;

        .like__button-block {
            margin-right: 10px;
        }
    }

    .rate__buttons-block {
        display: flex;
        justify-content: space-between;
        width: 255px;
    }
}

.form-elements__column-buttons {
    margin: 54px 0 0 120px;
    width: 310px;

    .form-elements__range-slider {
        .range__text {
            display: flex;
            justify-content: space-between;
            margin-bottom: 22px;

            .range__subtitle {
                margin-right: 60px;
            }
        }
    }

    .form-elements__buttons {
        .buttons__text {
            margin: 42px 0 15px 0;
        }

        .buttons {
            .buttons-gradient {
                width: 207px;
                display: flex;
                justify-content: space-between;
                margin-bottom: 29px;
            }

            .buttons-white {
                width: 207px;
                display: flex;
                justify-content: space-between;
                margin-bottom: 29px;
            }

            .button-text {
                display: flex;
                margin-bottom: 29px;

                .button-text_night {
                    margin-left: 20px;
                }
            }

            .button-gradient-pay {
                width: 302px;
                margin-bottom: 37px;
            }
        }
    }

    .form-elements__pagination {
        .pagination__text {
            margin-bottom: 15px;
        }
    }
}

.form-elements__dropdowns {
    margin: 74px 0 0 39px;

    .dropdown-column {
        width: 253px;

        .dropdown__text {
            margin-bottom: 5px;
        }
    }
}