@import '../../utils/vars.scss';
@import '../pug/includes/inputs/text-default/input-text__default.scss';
@import '../pug/includes/inputs/text-active/input-text__active.scss';
@import '../pug/includes/dropdowns/dropdown-guests__default/dropdown-guests__default.scss';
@import '../pug/includes/inputs//mask-input/input-text__mask.scss';
@import '../pug/includes/dropdowns/date-drop/input-date.scss';
@import '../pug/includes/inputs/subscribe-input/subscribe-input.scss';
@import '../pug/includes/inputs/checkbox-input/checkbox-input.scss';
@import '../pug/includes/inputs/radio-input/radio-input.scss';
@import '../pug/includes/inputs/toggle-input/toggle-input.scss';
@import '../pug/includes/inputs/like-button/like-button.scss';

.form-elements {
    width: 1160px;
    margin: 0 auto;
    display: flex;
}

.form-elements__form {
    padding-bottom: 20px;
}

.form-elements__column-form {
    margin: 54px 0 0 39px;
    width: 303px;

    .text {
        display: flex;
        justify-content: space-between;
        font-family: $mainFont sans-serif;
    }

    .dropdown-guests__box {
        margin-top: 5px;
    }

    .form__date-block {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 19px;

        .form__date-drop {
            width: 143px;
        }
    }
}

.mask-input__block {
    margin-top: 3px;
}

.title {
    font-size: 11px;
    letter-spacing: 0.2px;
    color: $mainColor;
    text-transform: uppercase;
    font-family: $mainFont sans-serif;
}

.form__subtitle {
    font-size: 11px;
    position: relative;
    bottom: 3px;
    text-transform: uppercase;
}

.subtitle-first {
    color: #A9A9B6;
}

.subtitle {
    position: relative;
    top: 0.2px;
    color: $mainColor;
    opacity: 0.75;
}

.form-elements__column-checkbox {
    margin: 54px 0 0 120px;

    .form-elements__checkbox {
        margin-bottom: 36px;
    }

    .text {
        margin-bottom: 15px;
    }

    .form-elements__radio {
        margin-bottom: 40px;
    }

    .form-elements__toggle {
        margin-bottom: 45px;
    }

    .like__text {
        margin-bottom: 14px;
    }
}