.form_active {
    margin-top: 5px;
    border: 1px solid #8F8FA0;
    border-radius: 4px;
}

.form__input_active {
    padding: 12px 15px 11px 13px;
    border-radius: 4px;
    width: 100%;
    border: none;
    outline: none;
    -webkit-appearance: none;
    color: $mainColor;
    font-family: $mainFont sans-serif;
    font-size: 13.5px;
}