.checkbox
    input(type="checkbox")#checkbox-smoke.checkbox__input
    label(for="checkbox-smoke").checkbox__label Можно курить
.checkbox
    input(type="checkbox")#checkbox-pets.checkbox__input
    label(for="checkbox-pets").checkbox__label Можно с питомцами
.checkbox
    input(type="checkbox")#checkbox-guests.checkbox__input
    label(for="checkbox-guests").checkbox__label Можно пригласить гостей <br><span></span>(до 10 человек)