doctype html
html(lang='en')
	head
		title Colors & Type
	body
		.logo
			img(src="assets/img/Group.svg", alt="")
		.colors-type
			.colors
				.colors__body
					h2.colors__title Dark Shade 100%
					p.colors__subtitile #1F2041
					h2.colors__title Dark Shade 75%
					p.colors__subtitile #1F2041
					h2.colors__title Dark Shade 50%
					p.colors__subtitile #1F2041
					h2.colors__title Dark Shade 25%
					p.colors__subtitile #1F2041
					h2.colors__title Dark Shade 5%
					p.colors__subtitile #1F2041
					h2.colors__title Purple
					p.colors__subtitile #BC9CFF
					h2.colors__title Green
					p.colors__subtitile #6FCF97
			.types
				.types__body
					.types__block
						h1.types__title.types__title_h1 H1
						p.types__text.types__text_h1 This one is the sub-section or
							|	widget title
					.types__block
						h2.types__title.types__title_h2 H2
						p.types__text.types__text_h2 Next one is the item title inside
							|	widgets
					.types__block
						h3.types__title.types__title_h3 H3
						p.types__text.types__text_h3 This is a label or CTA text
					.types__block
						h3.types__title.types__title-body Body
						p.types__text.types__body-text This is the body text which is used for most
							|	of the design, like paragraphs, lists, etc.
