doctype html
html(lang='en')
	head
		title Colors & Type
	body
		.container
			.color
				h2.color__title Dark Shade 100%
				p.color__text #1F2041
				h2.color__title Dark Shade 75%
				p.color__text #1F2041
				h2.color__title Dark Shade 50%
				p.color__text #1F2041
				h2.color__title Dark Shade 25%
				p.color__text #1F2041
				h2.color__title Dark Shade 5%
				p.color__text #1F2041
				h2.color__title Purple
				p.color__text #BC9CFF
				h2.color__title Green
				p.color__text #6FCF97
