<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Headers&Footers
    body.body
        .background
            .logo
                img.logo__icon(src="assets/img/Group.svg", alt="")
        header.header
            .header__body
                .header__logo
                    img(src="assets/img/Logo.svg", alt="")
                .header__navigation
                    nav.nav
                        a(href="http://").nav__link.nav__link_scecial Home
                        a(href="http://").nav__link.nav__link_scecial About Us
                        a(href="http://").nav__link.nav__link_scecial Services <i class='arrow'></i>
                        a(href="http://").nav__link Careers
                        a(href="http://").nav__link News
                        a(href="http://").nav__link Documentation
                        a(href="http://").button <span> Login </span>
                        a(href="http://").button <span> Register </span> 