.dropdown-guests__box
    .dropdown-guests__selected-box
        .dropdown-guests__placeholder Сколько гостей
            object(data="./assets/img/arrow-down.svg", type="").dropdown-guests__arrow
        .dropdown-guests__options
            .dropdown-guests__select
                h3.dropdown-guests__title взрослые
                
                //span(data-quantity="minus" data-field="quantity").value_down.down-adult.increment -
                input(type="number" value="0" name="quantity" min='0' max='10' step='1').value__input.input-adult#adult
                //span(data-quantity="plus" data-field="quantity").value_up.increment +
            .dropdown-guests__select
                h3.dropdown-guests__title дети
                
                //span(data-quantity="minus" data-field="quantity").value_down.increment -
                input(type="number" value="0" name="quantity" min='0' max='10' step='1').value__input.input-child#child
                //span(data-quantity="plus" data-field="quantity").value_up.increment +
            .dropdown-guests__select
                h3.dropdown-guests__title младенцы
                
                //span(data-quantity="minus" data-field="quantity").value_down.increment -
                input(type="number" value="0" name="quantity" min='0' max='10' step='1').value__input.input-baby#baby
                //span(data-quantity="plus" data-field="quantity").value_up.increment +
            .dropdown-guests__buttons
                .dropdown-guests__btn.button-clear
                    h3 очистить
                .dropdown-guests__btn.button-ok
                    h3 применить
        