.dropdown-guests__box
    .dropdown-guests__selected-box
        .dropdown-guests__placeholder Сколько гостей
            object(data="./assets/img/arrow-down.svg", type="").dropdown-guests__arrow
        .dropdown-guests__options
            .dropdown-guests__select
                h3.dropdown-guests__title взрослые
                input(type="number" value="0" name="quantity" min='0' max='10' step='1').value__input
            .dropdown-guests__select
                h3.dropdown-guests__title дети
                input(type="number" value="0" name="quantity" min='0' max='10' step='1').value__input
            .dropdown-guests__select
                h3.dropdown-guests__title младенцы
                input(type="number" value="0" name="quantity" min='0' max='10' step='1').value__input
            .dropdown-guests__buttons
                .dropdown-guests__btn.button-clear.button-clear_hide-show
                    h3 очистить
                .dropdown-guests__btn.button-ok
                    h3 применить
        