extends ./layouts/MainTemplate.pug
block title
    |    Cards
block body
    .logo
        img.logo__icon(src="assets/img/Group.svg", alt="") 
    .cards__body  
        .card__block
            .search__block
                .search__content
                    .search__title
                        h2 Найдём номера под ваши пожелания
                    .search__vars
                        .vars__coming
                            .vars__title.title
                                h3 Прибытие
                            form(action="").vars__form
                                input(type="date" placeholder="ДД.ММ.ГГГГ")
                                img(src="/assets/img/arrow-down.svg", alt="").arrow-down
                        .vars__depart
                            .vars__title.title
                                h3 Выезд
                            form(action="").vars__form
                                input(type="date" placeholder="дд.мм.гггг") 
                                img(src="/assets/img/arrow-down.svg", alt="").arrow-down
                    .search__guests
                        .guests__title.title
                            h3 Гости
                        .guests__form
                            form(action="") 
                                select(name="guests" placeholder="Сколько гостей").guests__list