extends ./layouts/MainTemplate.pug
block title
    |    Form Elements
block body
    .logo
        img.logo__icon(src="assets/img/Group.svg", alt="")
    .form-elements
        .form-elements__column-form
            .form-elements__form
                .form__text.text
                    h3.form__title.title Text Field
                    p.form__subtitle.subtitle-first Default
                include ./includes/inputs/input-mixin/input-mixin.pug
                +text-field('email', 'mail', 'Email', 'form', 'form__input')
            .form-elements__form
                .form__text.text
                    h3.form__title.title Text Field
                    p.form__subtitle.subtitle Hover / Focus
                include ./includes/inputs/input-mixin/input-mixin.pug
                +text-field('text', '', 'This is pretty awesome', 'form_active', 'form__input_active')
            .form-elements__form
                .form__text.text
                    h3.form__title.title Dropdown
                    p.form__subtitle.subtitle Default
                include ./includes/dropdowns/dropdown/dropdown.pug
                +dropdown('Сколько гостей', 'Взрослые', 'Дети', 'Младенцы')
            .form-elements__form
                .form__text.text.mask-input__block
                    h3.form__title.title Masked text field
                    p.form__subtitle.subtitle Default
                include ./includes/inputs/input-mixin/input-mixin.pug
                +text-field('text', 'birthdate', '', 'form_mask', 'form__input_mask')(id='form__input_mask')
            .form-elements__form
                .form__date-block
                    .form__date-drop
                        h3.form__title.title.date-title Date Dropdown
                        include ./includes/inputs/input-mixin/input-mixin.pug
                        +text-field('date', '', '', 'form__date', 'form__input-date')
                    .form__date-drop
                        h3.form__title.title.date-title Date Dropdown
                        include ./includes/inputs/input-mixin/input-mixin.pug
                        +text-field('date', '', '', 'form__date', 'form__input-date')
            .form-elements__form
                .form__filter-text
                    h3.form__title.title.filter-title filter date dropdown
                include ./includes/inputs/input-mixin/input-mixin.pug
                +text-field('', '', '', 'filter-date-dropdown', 'filter-date-dropdown__text')
            .form-elements__form
                .form__subscription-text.text
                    h3.form__title.title Subscription text field
                include ./includes/inputs/input-mixin/input-mixin.pug
                +text-field('', '', '', 'form-subscribe', 'form__input')
        .form-elements__column-checkbox
            .form-elements__checkbox
                .checkbox__text.text
                    h3.checkbox__title.title Checkbox Buttons
                include ./includes/inputs/checkbox-input/checkbox-input.pug
                +checkbox('checkbox-standart__wrap')
            .form-elements__radio
                .radio__text.text
                    h3.radio__title.title Radio Buttons
                include ./includes/inputs/radio-input/radio-input.pug
            .form-elements__toggle
                .toggle__text.text
                    h3.toggle__title.title Toggle
                include ./includes/inputs/toggle-input/toggle-input.pug
                +toggle('#toggle__input')
                include ./includes/inputs/toggle-input/toggle-input.pug
                +toggle('#toggle__input2')
            .form-elements__like
                .like__text.text
                    h3.like__title.title like button
                .like__buttons-block
                    .like__button-block
                        include ./includes/inputs/like-button/like-button.pug
                        +like-button('#like__button', '2', '#like__form')
                    .like__button-block2
                        include ./includes/inputs/like-button/like-button.pug
                        +like-button('#like__button2', '11')
            .form-elements__rate
                .rate__text.text
                    h3.rate__title.title rate button
                .rate__buttons-block
                    include ./includes/inputs/rate-button/rate-button.pug
                    include ./includes/inputs/rate-button/rate-button.pug
        .form-elements__column-buttons
            .form-elements__range-slider
                .range__text.text
                    h3.range__title.title Range Slider
                    p.range__subtitle.subtitle 5 000₽ - 10 000₽
                include ./includes/sliders/range-slider/range-slider.pug
            .form-elements__buttons
                .buttons__text.text
                    h3.buttons__title.title buttons
                .buttons
                    .buttons-gradient
                        .button-gradient_default
                            include ./includes/buttons/button-gradient_default/button-gradient_default.pug
                            +button-gradient('Click me', 'button-gradient', '', '', 'button-small-gradient-position')
                        .button-gradient_active
                            include ./includes/buttons/buttons-gradient_active/buttons-gradient_active.pug
                    .buttons-white
                        .button-white_default
                            include ./includes/buttons/button-white_default/button-white_default.pug
                            +button-white('Click me', '', 'button-white')
                        .button-white_active
                            include ./includes/buttons/button-white_active/button-white_active.pug
                    .button-text
                        .button-text_light
                            include ./includes/buttons/buttons-text/buttons-text.pug
                            +button-text('Click me', 'button-light')
                        .button-text_night
                            include ./includes/buttons/buttons-text/buttons-text.pug
                            +button-text('Click me', 'button-night')
                    .button-gradient-pay
                        include ./includes/buttons/button-gradient_default/button-gradient_default.pug
                        +button-gradient('перейти к оплате', 'button-gradient', '', 'button-wrap', 'button-big-gradient-position')
            .form-elements__pagination
                .pagination__text.text
                    h3.pagination__title.title pagination
                include ./includes/buttons/pagination/pagination.pug
        .form-elements__dropdowns
            .dropdown-column
                .dropdown-input-block
                    .dropdown-input__text.text
                        h3.dropdown-input__title.title Dropdown
                        p.dropdown-input__subtitle.subtitle Default
                    include ./includes/inputs/input-mixin/input-mixin.pug
                    +text-field('', '', '', 'dropdown-block__placeholder', '')
                .dropdown-active-block
                    .dropdown-active__text.text
                        h3.dropdown-active__title.title Dropdown
                        p.dropdown-active__subtitle.subtitle Expanded
                    include ./includes/dropdowns/dropdown/dropdown.pug
                    +dropdown-static('2 спальни, 2 кровати...', 'Спальни', 'Кровати', 'Ванные комнаты', '2', '2', '0', 'dropdown__options_static')
            .dropdown-guests-column
                .dropdown-guests-block
                    .dropdown-guests__text.text
                        h3.dropdown-guests__title.title Dropdown
                    include ./includes/dropdowns/dropdown/dropdown.pug
                    +dropdown-static('Сколько гостей', 'Взрослые', 'Дети', 'Младенцы', '0', '0', '0', 'dropdown-guests__options_static')
            .dropdown-guests-column_active
                .dropdown-guests-block_active
                    .dropdown-guests__text_active.text
                        h3.dropdown-guests__title_active.title Dropdown
                    include ./includes/dropdowns/dropdown/dropdown.pug
                    +dropdown-static('3 гостя', 'Взрослые', 'Дети', 'Младенцы', '2', '1', '0', 'dropdown-guests__options_static')
        .form-elements__checkboxes
            .checkbox-expand__column
                .checkbox-expand__block
                    .checkbox-expand__text.text
                        h3.checkbox-expand__title.title expandable checkbox list
                        img(src="/assets/img/arrow-down.svg", alt="").checkbox-expand__arrow
                include ./includes/inputs/checkbox-input/checkbox-input.pug
                +checkbox('checkbox-expand__wrap')
            .checkbox-rich__column
                .checkbox-rich__block
                    .checkbox-rich__text.text
                        h3.checkbox-rich__title.title rich Checkbox Buttons
                    include ./includes/inputs/checkbox-input/checkbox-input.pug
                    +checkbox('checkbox-rich__wrap')
            .checkbox-bullet__column
                .checkbox-bullet__block
                    .checkbox-bullet__text.text
                        h3.checkbox-bullet__title.title bullet list
                    include ./includes/inputs/checkbox-input/checkbox-input.pug
                    +checkbox('checkbox-bullet__wrap')