extends ./layouts/MainTemplate.pug
block head
    <script src="https://kit.fontawesome.com/f6af080981.js" crossorigin="anonymous"></script>   
block title
    |    Headers&footers
block body
    .body
        .logo
            img.logo__icon(src="assets/img/Group.svg", alt="")
        section.header
            .header__body
                .header__logo
                    img(src="assets/img/Logo.svg", alt="")
                .header__navigation
                    nav.nav
                        a(href="http://").nav__link.nav__link_scecial Home
                        a(href="http://").nav__link.nav__link_scecial About Us
                        a(href="http://").nav__link.nav__link_scecial Services <i class='arrow'></i>
                        a(href="http://").nav__link Careers
                        a(href="http://").nav__link News
                        a(href="http://").nav__link Documentation
                        a(href="http://").button <span> Login </span>
                        a(href="http://").button <span> Register </span> 

        section.header-loged
            .header-loged__body
                .header-loged__logo
                    img(src="assets/img/Logo.svg", alt="")
                .header-loged__navigation
                    nav.nav-loged
                        a(href="http://").nav-loged__link.nav-loged__link_scecial Home
                        a(href="http://").nav-loged__link.nav-loged__link_scecial About Us
                        a(href="http://").nav-loged__link.nav-loged__link_scecial Services <i class='arrow'></i>
                        a(href="http://").nav-loged__link Careers
                        a(href="http://").nav-loged__link News
                        a(href="http://").nav-loged__link Documentation
                        .line
                        a(href="http://").nav-loged__link.nav-loged__link_user Cosmin Negoita

        section.footer-widget.footer-widget__line
            .footer-widget__body
                .footer-widget__column-one
                    .footer-widget__logo 
                        img(src="assets/img/Logo.svg", alt="")
                    .footer-widget__text
                        p Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
                .footer-widget__column-nav
                    .footer-widget__title 
                        h3 Navigation
                    .footer-widget__text-nav
                        a(href="http://").footer-widget__text_link About Us
                    .footer-widget__text-nav
                        a(href="http://").footer-widget__text_link News
                    .footer-widget__text-nav
                        a(href="http://").footer-widget__text_link Support
                    .footer-widget__text-nav
                        a(href="http://").footer-widget__text_link Products
                .footer-widget__column-nav.about-us
                    .footer-widget__title 
                        h3 About us
                    .footer-widget__text-nav
                        a(href="http://").footer-widget__text_link Who we are
                    .footer-widget__text-nav
                        a(href="http://").footer-widget__text_link Our team
                    .footer-widget__text-nav
                        a(href="http://").footer-widget__text_link Careers
                    .footer-widget__text-nav
                        a(href="http://").footer-widget__text_link Investors
                .footer-widget__column-nav.support
                    .footer-widget__title 
                            h3 Support
                    .footer-widget__text-nav
                        a(href="http://").footer-widget__text_link Documentation
                    .footer-widget__text-nav
                        a(href="http://").footer-widget__text_link Community
                    .footer-widget__text-nav
                        a(href="http://").footer-widget__text_link Get in Touch
                .footer-widget__column-nav.subscribe
                    .footer-widget__title.title-sub 
                        h3 Subscribe to our newsletter
                    .footer-widget__text-subscribe
                        p Receive our latest news and <br>promotions in your inbox!
                        form.footer__form
                            input(type="email" name="mail" placeholder="Your email address").form__input
                            a(href="submit") <i class="fas fa-arrow-right gradient-icon"></i>
            hr.line
            .copyright
                .copyright__body
                    .copyright__text
                        p Copyright © 2018 Toxin UI Kit. All rights reserved.
                    .copyright__icons
                        a(href="http://") <i class="fab fa-twitter gradient-icon"></i>
                        a(href="http://") <i class="fab fa-facebook-square gradient-icon"></i>
                        a(href="http://") <i class="fab fa-instagram gradient-icon"></i>
        section.footer-creative
            .footer-creative__body
                .footer-creative__logo
                    img(src="assets/img/Logo.svg", alt="")
                .footer-creative__text
                    p Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam <br>pellentesque aliquam curabitur cociis.
                .footer-creative__icons
                    a(href="http://") <i class="fab fa-twitter gradient-icon"></i>
                    a(href="http://") <i class="fab fa-facebook-square gradient-icon"></i>
                    a(href="http://") <i class="fab fa-instagram gradient-icon"></i>