extends ./layouts/MainTemplate.pug
block head
    <script src="https://kit.fontawesome.com/f6af080981.js" crossorigin="anonymous"></script>   
block title
    |    Headers&footers
block body
    .body
        .logo
            img.logo__icon(src="assets/img/Group.svg", alt="")
        include ./includes/headers/header__standart.pug
        .header__wrap
            +header-standart('header__button')
        .header__wrap-loged
            +header-standart('header__user', 'Cosmin Negoita')
        .footer-widget__wrap
            include ./includes/footers/footers.pug
            +footers('footer-widget')
        .footer-creative__wrap
            +footers('footer-creative')