.button-night_static,
.button-night {
    border: none;
    font-size: 11px;
    letter-spacing: 0.2px;
    color: #8f8fa0;
    text-transform: uppercase;
    font-family: $mainFont sans-serif;
    outline: none;
    cursor: pointer;
}



.button-light_static,
.button-light {
    border: none;
    font-size: 11px;
    letter-spacing: 0.2px;
    color: #BC9CFF;
    text-transform: uppercase;
    font-family: $mainFont sans-serif;
    outline: none;
    cursor: pointer;
}