.filter-date-dropdown
    .filter-date-dropdown__dates
        .filter-date-dropdown__checkin-date
            div(data-placeholder='Заезд').filter-date-dropdown__checkin.filter-date-dropdown__text Заезд
        .filter-date-dropdown__departure-date
            div(data-placeholder='Отъезд').filter-date-dropdown__departure.filter-date-dropdown__text Отъезд
    span.filter-date-dropdown__arrow
        img(src="/assets/img/arrow-down.svg", alt="")