.pagination
    p.pagination_active 1
    p.pagination_passive 2
    p.pagination_passive 3
    p.pagination_passive ... 
    p.pagination_passive 15
    img(src="/assets/img/arrow_forward_white.svg", alt="").pagination_arrow
p.pagination-text 1 – 12 из 100+ вариантов аренды