.button-white__wrap {
    padding-left: 29px;

    .button-white {
        font-family: $mainFont serif;
        font-weight: bolder;
        font-size: 11px;
        text-transform: uppercase;
        color: #BC9CFF;
        background: rgba(187, 156, 255, 1);
        background: -moz-linear-gradient(top, rgba(187, 156, 255, 1) 0%, rgba(139, 164, 249, 1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(187, 156, 255, 1)), color-stop(100%, rgba(139, 164, 249, 1)));
        background: -webkit-linear-gradient(top, rgba(187, 156, 255, 1) 0%, rgba(139, 164, 249, 1) 100%);
        background: -o-linear-gradient(top, rgba(187, 156, 255, 1) 0%, rgba(139, 164, 249, 1) 100%);
        background: -ms-linear-gradient(top, rgba(187, 156, 255, 1) 0%, rgba(139, 164, 249, 1) 100%);
        background: linear-gradient(to bottom, rgba(187, 156, 255, 1) 0%, rgba(139, 164, 249, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bb9cff', endColorstr='#8ba4f9', GradientType=0);
        border-radius: 22px;
        display: block;
        position: relative;
        transition: all 0.5s ease;
        text-align: center;


        &:hover {
            background: rgba(221, 206, 255, 1);
            background: -moz-linear-gradient(top, rgba(221, 206, 255, 1) 0%, rgba(197, 209, 252, 1) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(221, 206, 255, 1)), color-stop(100%, rgba(197, 209, 252, 1)));
            background: -webkit-linear-gradient(top, rgba(221, 206, 255, 1) 0%, rgba(197, 209, 252, 1) 100%);
            background: -o-linear-gradient(top, rgba(221, 206, 255, 1) 0%, rgba(197, 209, 252, 1) 100%);
            background: -ms-linear-gradient(top, rgba(221, 206, 255, 1) 0%, rgba(197, 209, 252, 1) 100%);
            background: linear-gradient(to bottom, rgba(221, 206, 255, 1) 0%, rgba(197, 209, 252, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddceff', endColorstr='#c5d1fc', GradientType=0);
            transition: 0.5s ease;
        }

        .button-white-position {
            padding: 12px 18px 12px 17px;
            margin: 2px;
            display: inline-block;
            background: #fff;
            border-radius: 22px;
        }

        .button-white-position_active {
            padding: 7px 21px 8px 18px;
            margin: 2px;
            display: inline-block;
            background: #fff;
            border-radius: 22px;
        }
    }
}


.button-small-white-position_active {
    padding: 9px 21px 10px 18px;
}

/*
background: rgba(187, 156, 255, 1);
            background: -moz-linear-gradient(top, rgba(187, 156, 255, 1) 0%, rgba(139, 164, 249, 1) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(187, 156, 255, 1)), color-stop(100%, rgba(139, 164, 249, 1)));
            background: -webkit-linear-gradient(top, rgba(187, 156, 255, 1) 0%, rgba(139, 164, 249, 1) 100%);
            background: -o-linear-gradient(top, rgba(187, 156, 255, 1) 0%, rgba(139, 164, 249, 1) 100%);
            background: -ms-linear-gradient(top, rgba(187, 156, 255, 1) 0%, rgba(139, 164, 249, 1) 100%);
            background: linear-gradient(to bottom, rgba(187, 156, 255, 1) 0%, rgba(139, 164, 249, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bb9cff', endColorstr='#8ba4f9', GradientType=0);
            color: #fff;
*/